
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>QueryBreakagePage</title>

    <style>
        #btn1 {
            outline: none;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:10px; margin-left:-92px; width:1126px; border:0px solid black;background-color:#37435c;border-radius:2px;">
            <div class="col-md-8">
                @*<label class="control-label">入库管理</label>*@
                <h5 style="font-size:15px;font-weight:bold;color:white">报损管理</h5>
            </div>
        </div>
        <div class="row" style="margin-left:-92px;  border:0px solid black;width:1126px;background-color:#f5f8f8">
            <div class="col-md-5 form-group form-inline" style="margin-top:15px; ">
                <button type="button" id="btn1" class="btn btn-group">所有</button>
                <button type="button" id="btn1" class="btn btn-group">待审核</button>
                <button type="button" id="btn1" class="btn btn-group">审核通过</button>
                <button type="button" id="btn1" class="btn btn-group">审核失败</button>
            </div>
            <div class="col-md-3 form-group form-inline" style="margin-top:15px;float:right;margin-right:-58px;">
                <a href="@Url.Action("QueryBreakageAdd")" class="btn btn-primary">新增报损</a>
                <button type="button" class="btn btn-info">导出</button>
            </div>
            <div class="row">
                <div class="col-md-3 form-group form-inline " style="margin-top:83px;margin-left:-470px;">
                    <input type="text" class="form-control" placeholder="请输入报损单号" />
                </div>
                <div class="col-md-7 form-group form-inline" style="margin-top:19px;">
                    <label class="control-label" style="margin-left:-20px;">时间</label> &nbsp;<input type="date" class="form-control" style="width:150px;" />&nbsp;-&nbsp;<input type="date" class="form-control" style="width:150px;" />&nbsp;&nbsp;<button type="button" class="btn btn-info">搜索</button>
                </div>
            </div>

            <div class="row" style="margin-top:25px;">
                <table class="table table-bordered table-hover table-responsive" style=" width:1043px;margin-left:28px; border:1px solid #e07a7a;">
                    <thead>
                        <tr style="font-weight:bold;">
                            <td>单据编号</td>
                            <td>报损类型</td>
                            <td>客户名称</td>
                            <td>报损数量</td>
                            <td>状态</td>
                            <td>创建人</td>
                            <td>创建时间</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>单据编号1</td>
                            <td>报损类型1</td>
                            <td>客户名称1</td>
                            <td>报损数量1</td>
                            <td>状态1</td>
                            <td>创建人1</td>
                            <td>创建时间1</td>
                            <td>
                                <a id="UpdateBaoSun" href="#"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp;
                            <a href="#"><span style="color:red" class="glyphicon glyphicon-trash"></span></a>&nbsp;&nbsp;
                            <a id="BSD" href="#"><span class="glyphicon glyphicon-eye-open"></span></a>&nbsp;&nbsp;&nbsp;<a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a>&nbsp;&nbsp;&nbsp;<a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row form-inline form-group text-center" style="margin-top:30px;margin-right:30px;">
                <button type="button" class="btn btn-primary form-group">首页</button>
                <button type="button" class="btn btn-primary form-group">上一页</button>
                <input type="text" class="form-control" style="width:80px;" />
                <button type="button" class="btn btn-primary form-group">Go</button>
                <button type="button" class="btn btn-primary form-group">下一页</button>
                <button type="button" class="btn btn-primary form-group">尾页</button>
            </div>
        </div>
    </div>


    @*修改*@
    <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin:0px auto; width:900px;height:300px;">
            <div class="modal-content">
                <div class="modal-header" style="color:white; border:0px solid black ;height:50px;background-color:#37435c">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑报损单</h4>
                </div>
                <div class="container" style="height:300px;">

                    <div style="border:1px solid #d4cdcd;width:855px;height:100px;margin:0px auto;margin-top:5px;border-radius:10px;">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-3">
                                <label class="control-label">报损单编号</label><input type="text" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">报损类型</label> @Html.DropDownList("Type", null, htmlAttributes: new { @class = "form-control", @style = "width:190px;" })
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">制单时间</label><input type="date" class="form-control" value="administrator" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">制单人</label><input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:3px;">
                        <table class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr style="font-weight:bold;">
                                    <td>产品编号</td>
                                    <td>产品名称</td>
                                    <td>产品条码</td>
                                    <td>批次</td>
                                    <td>库位</td>
                                    <td>报损数量</td>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>产品编号1</td>
                                    <td>产品名称1</td>
                                    <td>产品条码1</td>
                                    <td>批次1</td>
                                    <td>库位1</td>
                                    <td>报损数量1</td>
                                    <td><a href="#"><span style="color:red" class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    @*查看报损单详情*@
    <div class="modal fade" id="myModal2" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin:0px auto; width:900px;height:300px;">
            <div class="modal-content">
                <div class="modal-header" style="color:white; border:0px solid black ;height:50px;background-color:#37435c">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">报损单详细</h4>
                </div>
                <div class="container" style="height:300px;">
                    @*报损单*@
                    <div class="row" style="margin-top:10px;">
                        <table class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr style="font-weight:bold;">
                                    <td>报损单编号</td>
                                    <td>报损人</td>
                                    <td>状态</td>
                                    <td>创建时间</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>报损单编号1</td>
                                    <td>报损人1</td>
                                    <td>状态1</td>
                                    <td>创建时间1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    @*报损单下的产品*@
                    <div class="row" style="margin-top:20px;">
                        <label class="control-label" style="margin-left:5px;">报损单下的产品</label>
                        <table class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr style="font-weight:bold;">
                                    <td>产品编号</td>
                                    <td>产品名称</td>
                                    <td>产品条码</td>
                                    <td>批次</td>
                                    <td>报损库位</td>
                                    <td>报损数量</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>产品编号1</td>
                                    <td>产品名称1</td>
                                    <td>产品条码1</td>
                                    <td>批次1</td>
                                    <td>报损库位1</td>
                                    <td>报损数量1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $("#UpdateBaoSun").click(function () {
            $("#myModal").modal();
        })
        //打开报损单详情
        $("#BSD").click(function () {
            $("#myModal2").modal();
        })
    </script>

</body>
</html>
